<div class="sidebar">
  <div class="sidebar-title">Album</div>
  <app-album-list></app-album-list>
  <div class="sidebar__cover">
    <img src="assets/images/cover.jpg" alt="">
  </div>
</div>
<div class="main">
  <app-albumn-detail (playClick)="onPlayClick()"
                     (pauseClick)="onPauseClick()"
                     [isPlaying]="isPlaying$ | async"></app-albumn-detail>
  <app-album-track-list [tracks]="audioList$ | async"
                        [currentTrack]="currentTrack$ | async"
                        [isPlaying]="isPlaying$ | async"
                        (playTrack)="onPlayTrack($event)"
  ></app-album-track-list>
  <app-player
    [isPlaying]="isPlaying$ | async"
    [isShuffle]="isShuffle$ | async"
    [duration]="(currentTrack$ | async).duration"
    [currentTime]="playingDuration$ | async"
    [mode]="mode$ | async"
    (modeChange)="onModeChange()"
    (toggleShuffle)="onToggleShuffle()"
    (playClick)="onPlayClick()"
    (pauseClick)="onPauseClick()"
    (nextClick)="onNextClick()"
    (prevClick)="onPrevClick()"
    (jump)="onJump($event)"
  ></app-player>
</div>
