<div class="sidebar">
  <div class="sidebar-title">Album</div>
  <app-album-list></app-album-list>
  <div class="sidebar__cover">
    <img src="assets/images/cover.png" alt="">
  </div>
</div>
<div class="main">
  <app-albumn-detail></app-albumn-detail>
  <app-album-track-list [tracks]="audioList$ | async" (playTrack)="onPlay($event)"></app-album-track-list>
  <app-slider *ngIf="playingTrack$ | async as track; else noPlayingSlider"
              [max]="track.duration"
              [ngModel]="playingDuration$ | async"
              (ngModelChange)="onJump($event)"> </app-slider>
  <ng-template #noPlayingSlider>
    <app-slider></app-slider>
  </ng-template>
  <app-player></app-player>
</div>
