:host {
  background-color: #1D1D1D;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75px;
  justify-content: flex-start;
  align-items: center;
}

app-slider {
  width: 100%;
}

.btn {
  font-size: 1.2rem;
  background: none;
  border: none;
  color: #474747;
  cursor: pointer;
  outline: none;
  &:hover {
    color: white;
  }
  &.is-active {
    color: #6241E6;
  }
}

.btn--round {
  border: 3px solid #474747;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  &:hover {
    border-color: white;
  }
}

.play-btn {
  padding-left: 10px;
}

.track-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .btn {
    margin: 0 10px;
  }
}
